@page "/activitylog"
@using System.ComponentModel.DataAnnotations
@using Trackor.Features.ActivityLog.Model
@inherits FluxorComponent

@inject IState<ActivityLogState> ActivityLogState
@inject IDispatcher Dispatcher

<PageTitle>Activity Log</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">
    <MudIcon Icon="@Icons.Material.Filled.EventAvailable" />
    Activity Log
</MudText>

@if (ActivityLogState.Value.IsLoaded)
{
    <MudPaper Class="pa-3 mb-3" Elevation="6">
        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
            <MudTextField T="string" Label="Username" Required="true" RequiredError="User name is required!" />
            <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!"
                      Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
            <div class="d-flex">
                <MudRadioGroup T="string" Required="true" RequiredError="Account type is required!">
                    <MudRadio Option="@("Personal")">Personal</MudRadio>
                    <MudRadio Option="@("Professional")">Professional</MudRadio>
                </MudRadioGroup>
            </div>
            <div class="d-flex align-center justify-space-between mt-6">
                <MudCheckBox T="bool" Required="true" RequiredError="You must agree" Class="ml-n2" Label="I agree!" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Register</MudButton>
            </div>
        </MudForm>
    </MudPaper>

    <MudTable Items="@Items" Hover="true" Elevation="6">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Title</MudTh>
            <MudTh>Narrative</MudTh>
            <MudTh>Date</MudTh>
            <MudTh>Duration</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Title">@context.Title</MudTd>
            <MudTd DataLabel="Narrative">@context.Narrative</MudTd>
            <MudTd DataLabel="Date">@context.Date</MudTd>
            <MudTd DataLabel="Duration">@context.Duration</MudTd>
        </RowTemplate>
    </MudTable>
}
else
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}

@code {
    ActivityLogItem[] Items => ActivityLogState.Value.ActivityLogItems;

    bool success;
    string[] errors = Array.Empty<string>();
    MudForm form;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (!ActivityLogState.Value.IsLoaded)
        {
            Dispatcher.Dispatch(new ActivityLogLoadAction());
        }
    }

}
